@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the website for the University of Science, Northern Ontario's premier research institution.</p>
</div>

